body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lobby-browser-row:hover {
	background-color: #28404F;
}

.valign-wrapper {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

input:focus, select:focus {
    outline: none;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.clickable {
	cursor: pointer;
	user-select: none;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #1C2B33;
	text-align: left;
}

th {
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #1F313D;
}

td > a {
	display: block;
	padding: 8px;
}

@keyframes flashing-teal {
	from {
		color: #00FFFF;
	}
	to {
		color: #33FFFF;
	}
}