body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.system-browser-row:hover {
	background-color: #435056;
}

.valign-wrapper {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

input:focus, select:focus {
    outline: none;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}